.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    padding: 20px;
    font-size: 4.8rem;
    font-weight: 700;
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main section input {
    border-radius: 15px;
    width: 250px;
    font-size: 1.6rem;
    padding: 20px;
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section button {
    background-color: var(--gray);
    color: var(--white);
    width: 150px;
    font-size: 2rem;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section button:hover {
    background-color: var(--dark-gray);
    color: var(--white); 
    transition: 0.3s ease-in-out;
}

.search-results {
    display: flex;
    flex-direction: column-reverse;
    width: 60rem;  
    overflow-y: auto;
    border-radius: 0.5rem;
    margin: 0rem 1rem;
}

.item-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 70%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 1px 3px 5px var(--black);
}

.item-result .news-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-result img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0px 20px;
    width: 40%;
}

.item-result #img-title {
    position: relative;
    margin: 0px;
    bottom: 30px;
    font-size: 1.6rem;
    text-align: center;
    text-indent: 0px;
}

.item-result h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 20px;
    text-align: center;
    line-height: 4.0rem;
}

.item-result .news-date {
    display: flex;
    justify-content: start;
    width: 100%;
}

.item-result p {
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
    font-size: 2.0rem;
    padding: 20px;
}

.item-result p .no-indent {
    text-indent: 0px;
}

.item-result a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-indent: 0px;
    background-color: var(--gray);
    color: var(--white);
    margin: 10px;
    padding: 20px 10px;
    border-radius: 5px;
    transition: 0.8ms, ease-in-out;
    box-shadow: 1px 3px 5px var(--black);
}

.item-result a p{
    text-indent: 0px;
}

.item-result a:hover {
    background-color: var(--dark-gray);
    color: var(--white); 
    transition: 0.3s ease-in-out;
}


/* RESPONSIVE */

@media(max-width: 830px) {

    .main h1 {
        padding: 15px;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .main section input {
        font-size: 1.6rem;
        padding: 15px;
        margin: 20px;
    }
    
    .main section button {
        width: 150px;
        font-size: 2rem;
        border-radius: 15px;
        padding: 10px;
    }
    
    .item-result {
        width: 90%;
        height: 100%;
    }
    
    .item-result img {
        width: 60%;
    }
    
    .item-result #img-title {
        position: relative;
        margin: 0px 20px;
        margin-bottom: 20px;
        bottom: 0px;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
    .item-result h2 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0px;
        line-height: 3.0rem;
    }
    
    .item-result .news-date {
        text-indent: 0px;
        margin: 20px;
    }
    
    .item-result p {
        line-height: 30px;
        font-size: 1.6rem;
        padding: 5px 0px;
    }

}
