*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 10px */
}

a{
    text-decoration: none;
    color: var(--black);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}