html{

}

body{
    font-family: "helvetica", sans-serif;
    background-color: var(--white);
}

/*HEADER*/

.header .header-banner{
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    height: 35vh;
    padding: 10px;
}

.header .header-banner .title{
    display: flex;
    width: 80%;
    height: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 56px;
    padding: 20px;
}

.header .nav .menu{
    display: flex;
    justify-content: space-around;
    top:180px;
    height: 40px;
    padding: 15px;
    margin: 10px;
}

.nav .menu a{
    margin: 10px;
    padding: 10px;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    font-weight: 600;
}

.nav .menu a:hover{
    background-color: var(--dark-gray);
    transition: 0.3ms ease-in-out;
}

/*FOOTER*/

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    bottom: 0;
}

.footer .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.footer .social img{
    width: 15%;
    margin: 20px;
}

.footer .text{
    justify-content: center;
    margin: 20px;
}


