html{
    height: 100%;
}

body{
    font-family: "helvetica", sans-serif;
    background-color: #fff;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
}

.header .header-banner{
    display: flex;
    justify-content: space-around;
    top: 0;
    background-color: #000;
    height: 30vh;
    padding: 10px;
}

.header .header-banner .genbukan-logo-kanji{
    align-self: center;
    justify-content: end;
    text-align: end;
    height:100%;
}

.header .header-banner .title{
    display: flex;
    width: 80%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
}

.header .nav .menu{
    display: flex;
    justify-content: space-around;
    top:180px;
    height: 40px;
    color: #000;
    padding: 15px;
}

.nav .menu a{
    margin: 10px;
    padding: 10px;
    background-color: var(--cinza-medio, grey);
    color: #fff;
    border-radius: 15px;;
    font-weight: 600;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .genbukan-brasil{
    width: 60%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgb(240, 240, 240);    
}

.main .genbukan-brasil h2{
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
}

.main .genbukan-brasil p{
    line-height: 40px;
    font-size: 20px;
}

.footer .footer-text{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
    bottom: 0;
}


