body{
    font-family: "helvetica", sans-serif;
    background-color: antiquewhite;
}

.header{
    display: flex;
    flex-direction: column;
}

.header .header-banner{
    display: flex;
    top: 0;
    background-color: #000;
    height: 20vh;
}

.header .header-banner .genbukan-logo-kanji{
    align-self: center;
    width: 10%;
}

.header .header-banner .title{
    display: flex;
    width: 60%;
    height: 100%;
    color: #fff;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
}

.header .nav .menu{
    display: flex;
    justify-content: space-around;
    top:180px;
    height: 40px;
    font-weight: 700;
    color: #000;
}