:root {
    --black: rgb(0, 0, 0);
    --dark-gray: rgb(39, 40, 41);
    --gray: rgb(93, 93, 93);
    --light-gray: rgb(216, 217, 218);
    --cream: rgb(255, 246, 224);
    --white: rgb(255, 255, 255);
}


body {
    font-family: "Lato", sans-serif;
    background-color: var(--white);
    font-size: 1.8rem;
  }
  
.error {
    font-size: 2rem;
    text-align: center;
    margin: 40px;
}