.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    padding: 20px;
    font-size: 48px;
    font-weight: 700;
    margin: 60px 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    width: 70%;
    padding: 60px;
    margin: 20px;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section .div-content {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;

    gap: 10%;
    margin-bottom: 40px;
}

section .div-content img {
    width: 100px;
}

section .div-content .img-circle {
    border-radius: 50%;
}

.div-content div h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.main .div-content div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 20%;
}

.main .div-content div a:hover {
    color: var(--gray);
    transition: 0.3ms ease-in-out;
}

.main .div-content div a i {
    margin-right: 10px;
}

/*RESPONSIVE*/

@media(max-width: 830px) {

    .main .title {
        padding: 15px;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .main section {
        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 30px;
    }

    .main section .div-content {
        text-align: center;
        flex-direction: column;
        width: 80%;
    }

    .div-content div h2 {
        font-size: 2rem;
    }

    section .div-content img {
        width: 180px;
    }

}