/*HEADER*/

.header .header-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    height: 35vh;
    padding: 10px;
}

.header .header-banner .title {
    display: flex;
    width: 80%;
    height: 100%;
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 8rem;
    padding: 20px;
}

.header .header-banner img {
    height: 100%;
}

.header .nav ul {
    display: flex;
    justify-content: space-around;
    top:180px;
    height: 40px;
    padding: 15px;
    margin: 20px;
}

.header .nav ul a {
    margin: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
}

.header .nav ul a:hover {
    background-color: var(--gray);
    color: var(--white);
    transition: 0.3ms, ease-in-out;
    box-shadow: 1px 3px 5px var(--black);
}

/*RESPONSIVE*/

@media(max-width: 830px) {

    .header .header-banner{
        height: 20vh;
    }

    .header .header-banner .title{
        font-size: 3.4rem;
    }
}

@media(min-width: 2730px) {

    .header .header-banner .title{
        font-size: 120px;
    }
}