.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    padding: 20px;
    font-size: 4.8rem;
    font-weight: 700;
    margin: 60px 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main .mjer-text {
    width: 70%;
    text-align: justify;
    padding: 60px;
    margin: 20px;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 1px 3px 5px var(--black);
}

.main .mjer-text h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 5.0rem;
}

.main .mjer-text h2 {
    margin: 30px 0px;
    font-weight: 700;
    font-size: 2.0rem;
}

.main .mjer-text .title-h2-big {
    margin: 80px 0px;
    font-weight: 800;
    font-size: 2.5rem;
}

.main .mjer-text p {
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
    font-size: 2.0rem;
    margin-bottom: 30px;
}

.main .mjer-text ul li {
    text-align: justify;
    text-indent: 60px;
    line-height: 35px;
    font-size: 2.0rem;
    list-style: square inside;
}

.main .mjer-text .mjer-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .mjer-text .mjer-img img {
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main .mjer-text .img-big img {
    width: 50%;
}

.main .mjer-text .mjer-img p {
    margin-bottom: 40px;
    text-align: center;
    text-indent: 0px;
}

/* RESPONSIVE */


@media(max-width: 830px) {

    .main h1 {
        padding: 15px;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .main .mjer-text {
        width: 90%;
        padding: 30px;
    }

    .main .mjer-text h1 {
        font-size: 3rem;
    }

    .main .mjer-text .title-h2-big {
        margin: 40px 0px;
    }

    .main .mjer-text .img-big img {
        width: 60%;
    }

    .main .mjer-text p li {
        font-size: 1.6rem;
        line-height: 30px;
    }

}