.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    padding: 20px;
    font-size: 48px;
    font-weight: 700;
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.main section input{
    border-radius: 15px;
    width: 260px;
    font-size: 1.6rem;
    padding: 20px;
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section button{
    background-color: var(--gray);
    color: var(--white);
    width: 125px;
    font-size: 2rem;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 3px 5px var(--black);
}

.main section button:hover{
    background-color: var(--dark-gray);
    color: var(--white); 
    transition: 0.3s ease-in-out;
}

/*INSERT*/
.search-results {
    display: flex;
    flex-direction: column-reverse;
    width: 60rem;  
    overflow-y: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0rem 1rem;
}

.item-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 70%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 1px 3px 5px var(--black);
}

.item-result img {
    margin: 0px 20px;
    width: 35%;
}

.item-result #img-title {
    position: relative;
    margin: 0px;
    bottom: 30px;
    font-size: 1.6rem;
    text-indent: 0px;
}

.item-result h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 20px;
}

.item-result .news-date{
    text-indent: 0px;
}

.item-result p {
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
    font-size: 2.0rem;
    padding: 20px;
}

.main .carrossel ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .carrossel ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    width: 30vw;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 1px 3px 5px var(--black);
}

.main .carrossel ul li h2{
    text-align: center;
    background-color: var(--light-gray);
    box-shadow: 1px 3px 5px var(--black);
    box-shadow: none;
    padding: 20px;
}

.main .carrossel ul li p{
    text-align: justify;
    line-height: 25px;
    font-size: 1.6rem;
    padding: 20px;
}


